.category-list
  a
    color: #3c3c3c
    margin: 0.4rem 0
  .subcategory-name
    &:before, &:after
      margin: 0
      display: block
      content: ''
    &:after
      position: absolute
      width: 10px
      right: 0
      top: 0
      bottom: 0
      background-image: linear-gradient(to top right, transparent 50%, #fafafa 50%), linear-gradient(to bottom right, transparent 50%, #fafafa 50%)
      background-repeat: no-repeat
      background-position: 0 0, 0 100%
      background-size: 100% 50%, 100% 50%
  .subcategory-item:hover
    text-decoration: underline
.back-button
  cursor: pointer
  margin: 0.6rem
  font-size: 0.9rem
  i
    margin-right: 0.4rem
  &:hover
    text-decoration: underline
.scrollable
  overflow-x: auto
  min-width: 100%
  >div
    flex-shrink: 0
  &::-webkit-scrollbar
    display: none
.category-line
  padding: 0.4rem
  .scrollable
    font-size: 0.8rem
  .subcategory-items
    font-size: 0.9rem
    padding: 0 1rem
    width: 100%
    .subcategory-item
      padding: .4rem 0
      border-bottom: .05rem solid #ededed
      .selected
        font-weight: bold
  .category-name
    font-size: 1rem
    font-weight: bold
    padding-top: .5rem
    i
      margin: 0 .5rem
  i
    margin: 0 0.2rem
    color: #ccc
  a
    color: #333
    &:hover
      color: #0db14b
.category-card
  padding: .5rem
  margin: .5rem 0
  cursor: pointer
  .category-icon
    padding-bottom: .5rem
    margin-bottom: .5rem
  &.box-shadow
    box-shadow: 0 4px 9px 0 rgba(0,0,0,.06), 0 0 3px 0 rgba(0,0,0,.08), 0 0 1px rgba(0,0,0,.03)
  &:hover
    span
      color: #0db14b
  span
    color: #333
    font-size: 0.9rem
  .category-card-name
    padding-left: .5rem
.page-title
  font-weight: bold
  height: fit-content
  font-size: 1.2rem
  padding-left: 1rem