.basket-header
  background-color: #f3f3f3
  padding: 1.6rem
  margin: 1rem 0
  i
    margin: 0 1.4rem
    font-size: 0.8rem
    display: flex
    align-items: center
  .basket-step

    .step-number
      font-size: 0.8rem
      background-color: white
      border-radius: 1.2rem
      width: 1.2rem
      height: 1.2rem
      line-height: 1.4rem
      margin-right: 0.6rem
  .disabled
    color: #BBBBBB
  .enabled
    cursor: pointer
  .active
    color: #0db14b

.basket-details
  align-content: flex-start
  .category
    color: #0db14b
    font-size: 1.2rem
    font-weight: 600
    padding: 0.4rem 0
    border-bottom: 0.1rem solid #bfbfbf
    height: fit-content
  .item
    padding: 1rem 0
    height: fit-content
    .item-description
      padding-left: 1rem
      align-content: flex-start
    .title a
      font-size: 0.9rem
      font-weight: 600
      margin-bottom: 0.6rem
      color: black
      &:hover
        opacity: 0.7
    .sub-title
      font-size: 0.8rem
      color: #b2b2b2
      font-weight: 600
  img
    margin-bottom: 0
  .remove-item
    cursor: pointer
    color: #bfbfbf
    padding: 0.4rem
    &:hover
      color: darkgray
  .volume
    align-content: flex-start
    padding-left: 1rem
    .price-main
      font-weight: 600
      font-size: 1.1rem
    .price-second
      font-size: 0.9rem
      color: #b2b2b2
      font-weight: 600
  input
    width: 1.7rem
    height: 1.9rem
    outline: none
    border: none
    text-align: center
    font-weight: bold
.basket-overview
  &.desktop
    padding-left: 1rem
  .min-sum
    height: fit-content
    background-color: #ffc
    border: .1rem solid #faf2ac
    padding: .4rem .6rem
    i
      color: #e72d04
  .details
    margin-top: 1rem
    border: .1rem solid #eeeeee
    .title
      font-weight: 600
    .promo
      background-color: #f7f7f7
      height: fit-content
      padding: .8rem .6rem 1.2rem .6rem
      .promo-container
        background-color: white
        padding: .4rem
        input
          outline: none
          border: none
          color: #b2b2b2
          padding: .5rem 0
        button
          margin-bottom: 0
          background-color: transparent
          color: #b2b2b2
          border: .1rem solid #E2E2E2
          &:hover
            background-color: #0db14b
            color: white
            border: .1rem solid #0db14b
    .total
      padding: .8rem .6rem 1.2rem .6rem
      background-color: white
      height: fit-content
      .text-extra
        color: #b2b2b2
        font-size: .9rem
        font-weight: 600
      button
        margin-bottom: 0
        color: #3d3d3d
        padding: .8rem 0
        font-weight: 600
.basket-delivery
  .category
    padding: 0.4rem 0
    height: fit-content
    h6
      color: #0db14b
      font-size: 1.2rem
      font-weight: 600
  label
    font-weight: bold
    .required
      color: #e72d04
      margin-left: .2rem
  .code-container
    position: relative
  .code
    height: fit-content
    a
      margin-bottom: 0
      padding: .6rem .8rem
    input
      margin-bottom: 0
    span
      margin-bottom: 0
    button
      margin: 0
  .code-input-error
    position: absolute
    bottom: -1.2rem
  .map-container
    overflow: hidden
    margin-right: 1rem
  .address-details
    label
      font-weight: normal
  input.required
    border: .05rem solid #e72d04
  .gray-text
    font-size: 0.9rem
    font-weight: 200
    color: #3d3d3d
    cursor: pointer
  .address-item
    padding: .8rem
    margin-bottom: 0.8rem
    cursor: pointer
    border: .1rem solid #b2b2b2
    &.active
      border-color: #0db14b
    input[type='radio']
      margin-bottom: .3rem
      cursor: pointer
      transform: scale(1.2)
      margin-right: .4rem
    i
      color: #333333
      &:hover
        color: #0db14b