.leaflet-container
  height: 420px
.osm-search
  position: relative
  span
    z-index: 1
  input
    margin-bottom: .6rem
  .addresses-container
    position: absolute
    background-color: white
    z-index: 10
    top: 2.4375rem
    .address-item
      font-size: 0.8rem
      color: black
      padding: .5rem
      cursor: pointer
      border-bottom: .05rem solid gray
      border-right: .05rem solid gray
      border-left: .05rem solid gray
      &:hover
        background-color: #e2e2e2
