@import '../settings'

#fog
  position: absolute
  z-index: 5
  background-color: black
  opacity: 0.4
  width: 100%
  height: 100%
  top: 0
  left: 0
#bottom-bar, #bottom-bar-menu
  >div
    background-color: #353535
    color: white
    padding: 1rem 0
  .content
    &.desktop
      min-width: 1000px
      max-width: 1000px
      a:hover
        text-decoration: underline
    &.mobile
      min-width: 320px
      font-size: 0.9rem
  i
    height: 1rem
    padding-right: .2rem
  .item
    padding: .2rem .4rem
    align-items: center
  a
    color: #fafafa
@keyframes slide-in
  from
    margin-right: 100%
    width: 100%
  to
    margin-right: 0
    width: 100%
@keyframes slide-out
  from
    margin-right: 0
    width: 100%
  to
    margin-right: 100%
    width: 100%
    display: none
#main
  position: relative
  .top-bar-container
    position: relative
    background-color: #0db14b
    //&.mobile
    //  position: fixed
    //  z-index: 10
    .basket
      position: fixed
      z-index: 20
      bottom: 4%
      right: 6%
      background-color: #0db14b
      border-radius: 3rem
      padding: .5rem
      span
        position: absolute
        color: #666e77
        top: -40%
        left: -40%
        font-size: 0.9rem
        background-color: white
        border-radius: 1rem
        padding: 0 .5rem
        box-shadow: 0 1px 4px 0 rgba(0,0,0,.1), 0 1px 4px 0 rgba(0,0,0,.1)
        white-space: nowrap
      i
        color: white
        font-size: 1.5rem
    .category-menu
      position: absolute
      top: 0
      right: 0
      z-index: 10
    .show-menu
      animation: slide-in .5s forwards
    .hide-menu
      animation: slide-out .5s forwards
    .category-menu-list
      background-color: #fafafa
      overflow-y: auto
  .desktop .top-bar
    min-width: 1000px
    max-width: 1000px
    input[type="search"]
      min-width: 365px
      max-width: 365px
      button
        background-color: #fafafa
        i
          color: #0db14b
  .mobile
    .category-menu-header
      background-color: #0db14b
      i
        padding: .7rem 1rem
    .top-bar
      i
        vertical-align: middle
        color: white
      button
        background-color: #0db14b
        i
          color: white
      span
        margin-bottom: 0
        font-size: 1.2rem
        font-weight: bold
        color: white
    .menu-category
      i
        color: #0db14b
      .active
        background-color: #0db14b
        .menu-category-item
          border-color: #0db14b
        span, i
          color: white !important
      .menu-subcategory
        border-bottom: .05rem solid #ededed
        padding-left: 3rem
        width: 100%
        &.selected
          background-color: #eee
      .menu-category-item, .menu-subcategory-item
        border-bottom: .05rem solid #ededed
        span
          padding: .4rem 0
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis
          color: #575e66
  .top-bar
    .search
      background-color: #fafafa
      input
        margin: 0
        outline: none
        border: none
        box-shadow: none
        font-size: 1.4rem
        &::placeholder
          font-size: 1rem
        &::-webkit-search-cancel-button
          -webkit-appearance: none
      button
        border: none
        background-color: $white
        color: map_get($foundation-palette, 'primary')
        outline: none
        &:active i
          font-size: 1.1rem
  li:not(.tabs-title)>a
    color: #fafafa
    &:hover
      background: rgba(0,0,0,0.2)
      border-radius: 2rem
    &.cart-price
      span
        padding-left: 0.6rem
        font-weight: bold
  .profile
    position: relative
  .profile:hover
    .dropdown
      display: flex
  .dropdown:hover
    display: flex
  .dropdown
    min-width: 180px
    position: absolute
    left: 50%
    margin-left: -95px
    background-color: #fafafa
    margin-top: 0.7rem
    box-shadow: 2.5px 2.5px 10px 1px rgba(0, 0, 0, 0.3)
    display: none
    &:before, &:after
      margin: 0
      display: block
      content: ''
    &:before
      position: absolute
      background-color: transparent
      top: -20px
      left: 50%
      margin-left: -5px
      border: 10px solid transparent
      border-color: transparent transparent #fafafa transparent
    a
      color: black
      border-radius: 0
      &:hover
        background-color: #0db14b
        color: #fafafa
  .cart-details
    position: relative
    .cart-content
      overflow-y: auto
      max-height: 90vh
      input
        max-width: 2rem
    .container:not(.full-cart)
      position: absolute
      min-width: 230px
      background-color: #fafafa
      left: auto
      right: -23px
      margin-top: 0.7rem
      box-shadow: 2.5px 2.5px 10px 1px rgba(0, 0, 0, 0.3)
      .item-list
        flex-grow: 1
      &:before, &:after
        margin: 0
        display: block
        content: ''
      &:before
        position: absolute
        background-color: transparent
        top: -20px
        right: 35px
        left: auto
        margin-left: -5px
        border: 10px solid transparent
        border-color: transparent transparent #fafafa transparent
      min-height: 30vmin
      a
        font-weight: bold
        color: #3d3d3d
    .container.full-cart
      position: absolute
      min-width: 230px
      max-width: 230px
      background-color: #fafafa
      left: auto
      right: -250px
      top: -45px
      box-shadow: 2.5px 2.5px 10px 1px rgba(0, 0, 0, 0.3)
      margin-top: 45px
      //calc(100vh - 11px) !important
      .item-list
        flex-grow: 1
      &:before, &:after
        margin: 0
        display: block
        content: ''
      &:before
        top: 9px
        left: -14px
        right: auto
        transform: rotate(270deg)
        position: absolute
        background-color: transparent
        margin-left: -5px
        border: 10px solid transparent
        border-color: transparent transparent #fafafa transparent
      min-height: 30vmin
      a
        font-weight: bold
        color: #3d3d3d
.cart-details
  a.warning
    margin: 0.6rem
  .product-to-cart
    button
      padding: 0.3rem 0.4rem
    input
      margin: 0
  .cart-item
    min-height: 5.4rem
    max-height: 5.4rem
    padding: 0 0.4rem
    border-bottom: 0.1rem solid #eee
    a
      padding: 0
      margin: 0
      img
        max-height: 5rem