.calendar-container
  height: fit-content
  div
    user-select: none
  .weekday-container, .time-container
    flex-flow: column nowrap
    position: relative
    .weekday, .time
      border: .1rem solid #E2E2E2
      padding: .5rem 0
      margin: .5rem
      cursor: pointer
      &:hover:not(.high), &.active:not(.high)
        border-color: #0db14b
        color: #0db14b
      &.high:hover, &.high.active
        border-color: orange
        color: orange
    .time-warning
      position: absolute
      right: 1.5rem
      bottom: .5rem
      color: orange
.button-next
  margin-bottom: 0
  font-size: 1.02rem
  color: #3d3d3d
  padding: .6rem 2.4rem
  font-weight: 600