.admin
  button, .warning, .warning:hover
    color: white
  .volumes-add > div
    margin: 0.4rem 0
  .buttons
    button
      margin: 0 0.4rem
  form
    margin: 1rem 0
    textarea
      height: 8rem
    >div
      align-content: flex-start
      >label
        margin: 1rem 0
  .table-img
    max-width: 9rem
    img
      max-width: 9rem
      max-height: 6rem
  .contents
    img
      margin: .6rem
    .content-container
      position: relative
    .content-delete
      position: absolute
      top: 0.2rem
      right: 0
      cursor: pointer
  label
    height: fit-content
  input, button
    margin-bottom: 0
  .volumes
    > div
      position: relative
      margin: 1rem 0.6rem
      padding: 0.2rem
      box-shadow: inset 0 0 0 2px #ccc
      color: black
      i
        position: absolute
        top: -0.3rem
        right: -0.5rem
        cursor: pointer
  .property
    .property-block
      margin-top: 1rem
    .set-property
      margin: .2rem 0
    i
      cursor: pointer
  .button-medium
    padding: 0.6rem 1rem
    margin: 0.4rem 0
  .button-large
    padding: 0.8rem 1.2rem
    margin: 0.6rem 0
  .page-selector
    margin: .5rem
    padding: .5rem 1rem
    cursor: pointer
    color: #0a0a0a
    box-shadow: inset 0 0 0 2px #ccc
    &:hover, &.is-active
      box-shadow: inset 0 0 0 2px #0db14b
      color: #0db14b
    &.is-active
      cursor: default
.admin-page
  .product-container
    padding: .5rem 0
    box-shadow: inset 0 0 0 2px #ccc
    cursor: pointer
    color: #0a0a0a
    margin: 1rem 0
    &:hover, &.is-active
      box-shadow: inset 0 0 0 2px #0db14b
      color: #0db14b
table
  thead th
    text-align: center
.order-item
  img
    max-width: 9rem
    max-height: 6rem
  .volume
    margin: 0 .4rem
    padding: .2rem .4rem
    width: 4rem