@import '_settings'
@import "utils/utils"
@import "product/Product"
@import "order/order"
@import "menu/Menu"
@import "map/map"
@import "category/Category"
@import "auth/auth"
@import "admin/admin"
@import "admin/alert"
@import "assets/styles/styles"

@font-face
  //font-family: Helvetica
  //src: url("assets/webfonts/Helvetica.woff")
  //src: url("assets/webfonts/helvetica-rounded-bold.woff")

body
  background-color: #fafafa
  overflow: auto
  //font-family: Helvetica, sans-serif
  //min-width: 1000px
  .top-bar-left, .top-bar-right
    flex: 0 0 auto !important
.top-bar, .top-bar ul
  background-color: #0db14b
.invalid-input
  border: .05rem solid #cc4b37