#auth
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  background-color: rgba(0, 0, 0, 0.7)
  z-index: 1
  .social
    padding: 0.6rem 0
    .soc-title
      color: #b2b2b2
      cursor: default
      user-select: none
      font-weight: bold
    a
      color: #b2b2b2
      &:hover
        &.ok
          color: #ee8208
        &.vk
          color: #4a76a8
        &.fb
          color: #3b5998
  .content
    z-index: 2
    background-color: #fafafa
    border-radius: 1rem
    button:not(.close-button)
      margin: 0.6rem 0
      padding: 0.8rem
      font-weight: bold
    button[type='submit']
      font-size: 1.1rem
    label
      position: relative
      cursor: text
      font-weight: bold
      a
        color: #b2b2b2
        position: absolute
        top: 1.4rem
        right: 0
        &:hover
          text-decoration: underline
      input
        outline: none
        box-shadow: none
        border: 0
        border-bottom: rgba(178, 178, 178, 0.4) solid .1rem
        background-color: transparent
        padding: 0
        height: auto
        margin: 1rem 0 0 0
        font-size: 1.4rem
        font-weight: bold
        &:focus
          border-bottom-color: #0db14b
      span
        cursor: text
        position: absolute
        top: 1.4rem
        color: #b2b2b2
        user-select: none
        transition: all 300ms ease
        &.active
          top: 0
          font-size: 0.8rem
          cursor: default
    .title
      margin-bottom: 1rem
      button
        color: #b2b2b2
        padding: 0.6rem 0.4rem
        cursor: pointer
        font-weight: bold
        &:hover
          color: #3d3d3d
      .active
        color: #3d3d3d
        border-bottom: solid 0.2rem #0db14b