$alert-color: #FFC709
.select-div
  > div
    padding: 0.2rem
  > div:not(.selected-div)
    box-shadow: inset 0 0 0 2px #ccc
    color: #bbb
    &:hover div
      color: #333
  .volume
    padding: .2rem 0
  .selected-div
    box-shadow: inset 0 0 0 2px #0db14b
    color: #0db14b
.bottom-border
  border-bottom: .05rem solid #ededed !important
#root
  position: relative
  z-index: 1
.tabs
  border: none
.desktop
  .tabs-title.is-active
    z-index: 1
  .tabs-title
    background-color: #e6e6e6
    border: 0.2rem solid #e6e6e6
    border-bottom-color: transparent
    > a
      font-size: 1.2rem
      color: #bbb
      padding: 0.8rem 1rem
    > a:focus, > a[aria-selected='true']
      color: #0db14b
    > a:hover:not([aria-selected='true'])
      color: #0db14b
      background-color: #e6e6e6
.mobile
  .tabs-title.is-active
    z-index: 1
  .tabs-panel
    padding: 0 0.5rem
    font-size: .9rem
  .tabs-title
    > a
      font-size: 1.2rem
      font-weight: bold
      padding: 0.8rem 0
      margin: 0 .5rem
      background: none
      outline: none
    > a[aria-selected='true']
      color: #0db14b
      border-bottom: .1rem solid #0db14b
    > a:not([aria-selected='true'])
      color: #4f545a
    > a:active
      background: none
      outline: none
.tabs-content
  border: 0.2rem solid #e6e6e6
  margin-top: -0.2rem

.product-to-cart
  input
    max-width: 2.2rem
    border: none
    text-align: center
    outline: none
    font-weight: bold
  button
    margin: 0
    &.minus
      color: #333
    &.plus
      color: white
.cart-item
  .product-to-cart
    input, button
      max-height: 1.8rem
      min-height: 1.8rem
.product-card
  position: relative
  &.mobile
    margin: .5rem 0
    .item
      padding: 0.4rem 0.6rem
      box-shadow: 0 4px 9px 0 rgba(0,0,0,.06), 0 0 3px 0 rgba(0,0,0,.08), 0 0 1px rgba(0,0,0,.03)
  &:hover
    i
      visibility: visible !important
  > button
    position: absolute
    top: 0.8rem
    right: 0.8rem
    color: #e72d04
    i
      cursor: pointer
  a
    color: #333333
    &:hover
      color: #0b9941
  .product-to-cart
    input, button
      max-height: 2.2rem
      min-height: 2.2rem
    button
      padding: 0.3rem 0.6rem
.product-top
  .product-images img
    width: 100px
    height: auto
    cursor: pointer
  .mobile
    .active-photo-container
      min-height: 15rem
      max-height: 15rem
  .desktop
    .active-photo-container
      min-height: 30rem
      max-height: 30rem
      padding: 0 1rem
      img
        cursor: pointer
  .active-photo
    max-height: 100%
  .scrollable .photo-container
    width: 5rem
    height: auto
    padding: .4rem
  .product-name
    height: fit-content
    font-weight: bold
    margin: .5rem 0
    border-bottom: .05rem solid #ededed
  button
    padding: 0.8rem 1.2rem
  input
    max-width: 3rem
    
$rating-block-star-color: $alert-color

.rating-block 
  padding: 2px 5px
  display: flex
  align-items: center
  justify-content: center
  .ratings-type 
    margin-right: 1rem
    margin-bottom: 0
  .rating-block 
    display: flex
    align-items: center
  .rating-block-rating 
    display: flex
  .rating-block-rating .star.selected polygon 
    fill: $rating-block-star-color
  .rating-block-rating.is-voted .star polygon
    fill: $rating-block-star-color
  .rating-block-rating.is-voted .star.selected ~ .star polygon 
    fill: transparent

.product
  .product-to-cart
    input, button
      max-height: 3rem
      min-height: 3rem
    input
      font-size: 1.2rem
    position: relative
  .favorite-button
    position: absolute
    top: 0
    right: 0
    color: #e72d04
    i
      cursor: pointer
.add-comment
  .star:hover
    cursor: pointer
  svg
    width: 2.4rem !important
    height: 2.4rem !important
  textarea
    margin-bottom: 0
    height: inherit
  .small-title
    font-size: 0.8rem
  .submit-button
    margin-top: 0.6rem
  button
    margin-bottom: 0

.comment-block
  svg
    width: .9rem
    height: .9rem
  hr
    margin: 0.8rem auto
  i
    font-size: 2.5rem
    color: gray